################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ODataService/bin/de/Microsoft.OData.Core.resources.dll
